* {
    box-sizing: border-box;
  }
  

  /*COMPRESS EVERYTHING*/

  .clearfix:after {
       content: ".";
       display: block;
       clear: both;
       visibility: hidden;
       line-height: 0;
       height: 0;
  }
  
  .clear {
      clear: both;
  }
  

  @media only screen and (min-width: 768px) { 
    /* desktop */ 
   

    body {
      font-family: Irish Grover;
      background-image: url(Pictures/mainScreen2.png);
      background-size: 450px;
      background-repeat: no-repeat;
      background-position: center 190px;
      height: 530px;
      /* width: 625px;
      margin: 0 auto; */
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      /* border: 8px solid;
      padding: 10px;
      border-image: repeating-linear-gradient(to bottom right, #33475b, #0033CC, #FF77CC, rgb(255, 122, 89)) 20; */
    }
  
    header {
      text-align: center;
      font-size: 55px;
      margin-top: 380px;
      color: rgb(103, 209, 54);
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: black;
    }

    #inspired {
      color: rgb(243, 139, 203);
      font-size: 25px;
    }
  
  
    .mainSection {
      display: flex;
      flex-direction: column;
      height: 250px;
      width: 550px;
      font-size: 35px;
      color:rgb(103, 61, 182);
      /* -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: black; */
      background-color: rgb(43, 153, 226);
      background-size: cover;
      border: 1px solid black;
      padding-top: 10px;
      margin-top: 400px;
      margin-bottom: 100px;
    }

    .mainSection > span {
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: black;
    }
  
    .mainSection span {
      text-align: center;
    }

    button {
      font-family: mclaren;
      cursor: pointer;
      font-size: 20px;
      /* font-weight: bold; */
      background-color: transparent;
      color: white;
      margin: 5px;
      /* -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: white; */
      border-radius: 10px;
      /* border-color: rgb(39, 137, 182); */
    }
/* 
    #pikachu {
      font-size: 20px;

    } */

    /* .buttons {
      background-color: rgb(43, 153, 226);
    } */
    section {
      height: 45px;
      display: flex;
      align-items: center;
      padding: 10px;
      border-radius: 15px;
    }
  
   
    ul {
      display: flex; 
      flex-direction: row;
      list-style: none;
      padding-right: 25px;
      margin: 0px;
    }
  
    li {
      text-align: center;
      padding: 2px;
    }
}
/*481 */
@media only screen and (min-width: 502px) and (max-width: 767px) {
    /* tablets */
    body {
      font-family: Irish Grover;
      background-image: url(Pictures/mainScreen2.png);
      background-size: 550px;
      background-repeat: no-repeat;
      background-position: center 175px;
      height: 875px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
  
    header {
      text-align: center;
      font-size: 60px;
      margin-top: 75px;
      padding-top: 10px;
      color: rgb(103, 209, 54);
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: black;
    }

    #inspired {
      color: rgb(243, 139, 203);
      font-size: 20px;
    }
  
  
    .mainSection {
      /* display: flex; */
      flex-direction: column;
      height: 250px;
      width: 500px;
      font-size: 35px;
      color:rgb(103, 61, 182);
      /* -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: black; */
      background-color: rgb(43, 153, 226);
      background-size: cover;
      border: 1px solid black;
      margin-top: 400px;
      margin-bottom: 170px;
    }

    .mainSection > span {
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: black;
    }
  
    .mainSection span {
      text-align: center;
    }

  
    button {
      font-family: mclaren;
      cursor: pointer;
      font-size: 20px;
      background-color: transparent;
      color: white;
      /* -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: white; */
      border-radius: 10px;
    }

    #pikachu {
      font-size: 18px;
    }

    section {
      height: 50px;
      display: flex;
      align-items: center;
      padding: 0px;
      border-radius: 15px;
    }
  
    ul {
      display: flex; 
      flex-direction: row;
      list-style: none;
      padding-right: 25px;
      margin: 0px;
    }
  
    li {
      text-align: center;
      padding: 2px;
    }

}    

/*480 */
@media only screen and  (max-width: 501px){
/*mobile phones */
  body {
    font-family: Irish Grover;
    background-image: url(Pictures/mainScreen2.png);
    background-size: 450px;
    background-repeat: no-repeat;
    background-position: center 190px;
    height: 825px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  header {
    text-align: center;
    font-size: 40px;
    margin-top: 150px;
    padding-top: 10px;
    color: rgb(103, 209, 54);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
  }

  #inspired {
    color: rgb(243, 139, 203);
    font-size: 17px;
  }


  .mainSection {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 400px;
    font-size: 23px;
    color:rgb(103, 61, 182);
    /* -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black; */
    background-color: rgb(43, 153, 226);
    background-size: cover;
    border: 1px solid black;
    margin-top: 400px;
    margin-bottom: 170px;
  }

  .mainSection > span {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
  }

  .mainSection span {
    text-align: center;
  }


  button {
    font-family: mclaren;
    cursor: pointer;
    font-size: 13px;
    background-color: transparent;
    color: white;
    padding: 10;
    margin: 10px;
    height: 30px;
    /* -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white; */
    border-radius: 10px;
  }

  /* #pikachu {
    font-size: 12px;
  } */

  section {
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0px;
    border-radius: 15px;
  }

  ul {
    display: flex; 
    flex-direction: row;
    list-style: none;
    padding-right: 25px;
    margin: 0px;
  }

  li {
    text-align: center;
    padding: 2px;
  }

}
    

